

 #attendees {
   text-align: center; }
   #attendees h2 {
     margin: 1.5em 0; }
   #attendees ul {
     list-style-type: none;
     padding: 0; }
     #attendees ul li {
       width: 45%;
       display: inline-block;
       margin-bottom: 1em;
       vertical-align: top; }
       #attendees ul li:nth-child(2n+1) {
         margin-right: 4%; }
       #attendees ul li:nth-child(2n) {
         margin-left: 4%; }
       #attendees ul li h4 a {
         color: #333; }
         #attendees ul li h4 a:hover {
           color: #ea4c89; }
       #attendees ul li figure {
         max-width: 180px;
         margin: 0 auto; }
       #attendees ul li img {
         border-radius: 50%;
         margin-bottom: .5em; }
       #attendees ul li p {
         font-size: .875em;
         color: #999;
         margin: 0;
         display: none; }
       #attendees ul li .links {
         margin-top: .5em; }
         #attendees ul li .links li {
           width: auto;
           display: inline-block;
           padding: .25em; }

 @media screen and (min-width: 600px) {
   #attendees h2 {
     margin: 3.5em 0; }
   #attendees ul li {
     margin: 0;
     margin-bottom: .5em;
     width: 31%;
     box-sizing: border-box;
     padding: 1em; }
     #attendees ul li img {
       margin-bottom: 1em; }
     #attendees ul li:nth-child(2n+1) {
       margin-right: 0; }
     #attendees ul li:nth-child(2n) {
       margin-left: 0; }
     #attendees ul li p {
       display: block; } }
 @media screen and (min-width: 800px) {
   #attendees h2 {
     margin: 3.5em 0; }
   #attendees ul li {
     margin-bottom: 1.5em;
     width: 24%; } }


     img {
       max-width: 100%; }

     #attendees ul li .links li a {
       font-family: "SSSocial";
       font-style: normal;
       font-weight: normal;
       text-decoration: none;
       text-rendering: optimizeLegibility;
       white-space: nowrap;
       -webkit-font-feature-settings: "liga";
       -moz-font-feature-settings: "liga=1";
       -moz-font-feature-settings: "liga";
       -ms-font-feature-settings: "liga" 1;
       -o-font-feature-settings: "liga";
       font-feature-settings: "liga";
       -webkit-font-smoothing: antialiased; }