
       html, body{
           overflow-x: hidden; /* prevents horizontal scroll bars */
           -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
           height: 100%; /* fixes focus scrolling in Safari (OS X) */
       }
       body{
         background:#eee;
         margin:0;
       }
       #wrap, footer, .filter, h1.pagehead{
         padding:20px;
       }
       .filter{margin-left:20px;   }
       h1, h2, h3, h4, h5, h6 {
       font-family: 'Roboto Slab', serif;
       font-weight: 100;
       margin-bottom: 0.3em;
       }


.list_nav{
  padding: 0 30px;
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:#e3e3e3 1px solid;
}

.list_nav h4{
  padding-top:10px;
  font-size: 15px;
/* font-weight: 500;
color: #B6B6B6;*/
}
.list_nav .dropdown-toggle{
  color:#ccc;
  text-decoration:none;
}
.list_nav .dropdown-toggle:hover, .list_nav .dropdown-toggle.active{
  color:#000;

}

       header{

         background: #25d3a9 linear-gradient(to right,rgba(54, 186, 194, 0.96) 0,rgba(60, 211, 173, 0.96) 100%);


        background: #333 linear-gradient(to right,rgba(194, 54, 76, 0.96) 0,rgba(255, 167, 34, 0.96) 100%); /* red-orange */
        background: #25D3A9 linear-gradient(to right,rgba(60, 197, 186, 0.96) 0,rgba(52, 166, 211, 0.96) 100%); /* blue auqa */
         background: #999 linear-gradient(to right,rgba(194, 54, 116, 0.96) 0,rgba(255, 167, 34, 0.96) 100%); /* pink to orange  */

         color: #fff;
         padding:10px 40px; /* formelly 90 40*/
         padding-bottom:100px;
         margin-bottom:50px;
         background-size:auto 100%;
         background-repeat: no-repeat;
         background-position:center ;
         margin-bottom: 14px;

          background-size: cover;

         /*

         background-attachment: fixed;
         			background-position: 50% 0;
         			background-repeat: no-repeat;
         			height: 450px;
         			position: relative;*/
       }

        header.logoimg{
          padding-bottom:30px;
        }


        @media (max-width: 650px) {
         .hide-phone{ display:none;}
        }

        @media (min-width: 1650px) {
         header {  background-position:left;  background-size: 100% auto; background-position:center middle;}
        }


       header h1{   font-size:40px;  line-height:1.2em;}
       @media (min-width: 650px) {
        header h1{   font-size:60px;  }
       }
       @media (max-width: 650px) {
         header p.lead{   font-size:16px;  }
       }

       @media (min-width: 1000px) {
         header h1{   font-size:80px;  }
       }

       #tweet{float:left;}
       header.home{padding-top:100px;}
       header.home h1{   font-size:30px;  line-height:1.2em;}
       @media (min-width: 850px) {
        header.home h1{   font-size:40px;  }
       }
       @media (min-width: 1100px) {
         header.home h1{   font-size:60px;  }
       }
       header.home a:hover{color:#fff; background: #08C; text-decoration:none; }



       body #wrap .goog_ad{
          width:380px;
         height:260px;
         float:left;
         display:block;
         margin:10px;
         background:#fff;
         text-align: center;
   }
   #wrap .goog_ad .adsbygoogle{

   }
   body #wrap .goog_ad:hover{
      opacity:1;
    }
   header{position:relative;}
       header nav{
         position:absolute;
         bottom:6px;
         font-family: 'Roboto Slab', serif;
          font-weight: 500;
          width:100%;
       }
       header nav a{
         color:#333;
         padding:7px 25px;
         padding-right:50px;
         margin-right:10px;
         font-size:17px;
         background:#fff;
         opacity:0.5;
       }
        header nav a.sec{
            background: none;
             color: #FFF;
             opacity: 0.7;
          }

       header nav a .fa{margin-right:5px;}
       header nav a:hover, header nav a.active{
         text-decoration:none;
         color:#000;
         background:#eee;
          opacity:1;

       }
        header nav a.sec:hover, header nav a.sec.active{
             background: none;
              color: #FFF;
           }


       .bt_report{
         position:absolute;
         left:10px;
         bottom:3px;
         display:none;
         background:#fff;
         z-index: 22;
       }
        #wrap .startup:hover .bt_report{display:block;}



        #backtotop {
            position: fixed;
            bottom: 2em;
            right: 50px;
            text-decoration: none;
            color: #888;
          /*  background-color: rgba(235, 235, 235, 0.80);*/
            font-size: 12px;
            padding: 1em;
            display: none;
            cursor:pointer;
            z-index:1;
        }

        #backtotop:hover {
            /*background-color: rgba(135, 135, 135, 0.50);*/
            color:#000;
        }


        nav i.fa{margin-right:10px;}


        #report_modal{
          background:#fff;
        }
        #report_modal .btn{margin-bottom:10px;}

        .translucid .close{
          text-shadow: none;
          color:#000;
          font-size:42px;
          opacity: 1;
          outline: none;
        }
        .translucid .close:hover{
          opacity:0.5;
        }
        .modal h1{
          font-size:60px;
          color:#000;
          font-weight:300;
        }

        .modal .btn{
          margin-top:5px;
        }
        .btn-outline{
          border: 2px #000 solid;
          background: none;
          background: rgba(255,255,255, 0.2);
          color:#000;
          font-weight: bold;
        }
        .btn-outline:hover{
          background:#000;
          color:#fff;
        }
        .btn-outline.active{
          background:#000;
          color:#fff;
        }


        body #container, .modal-backdrop{
          transition: all 0.2s ease-out;
        }
        #body .modal-backdrop{
          opacity: 0;
          color:#f00;
        }
   .blurredElement, body.modal-open #container {

     /* Any browser which supports CSS3
     http://stackoverflow.com/questions/371209/full-page-blur-in-css
     */
    filter: blur(10px);

    /* Firefox */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit */
    -webkit-filter: blur(10px);

    /* Opera */
    -o-filter: blur(10px);
}


        #form_waitlist{background: rgba(0,0,0,0.3); padding:20px; margin: 50px 0; width:500px;}

     header.logoimg img.logo{
       width: 250px;
       display: block;
       margin: auto;
       margin-top: -40px;
       margin-bottom: 91px;
      }



       #footer{
         background:#111;
         color:#777;
         position:relative;

       }

       #footer a{ color:#ccc;}
       #footer img{float:right; width:110px; position:absolute; bottom:20px; right:100px;}


      .menu-btn{display:none;}
          /* responsive layout  */
            @media (max-width: 800px) {


              #cityDrop, #tweet, #form_city_update, div.filter{ display:none; }
              .menu-btn{display:block; cursor:pointer; font-size: 30px;
              position: fixed;
              top: 0;
              }

              header.city{
                height: 230px;
                padding: 10px;
                margin-bottom:0;
              }
              header.logoimg img.logo{
                width:150px; margin-top:10px;
              }
              header h1{margin-top:40px; white-space: nowrap; }
              header nav{display:none; /*todo: move to off-canvas? */}
              #wrap{padding:0;margin:0; }
              #wrap .startup, #wrap .startup.people{
                text-decoration: none;
                width:100%;
                height:93px;
                display:block;
                padding:5px;
                margin:0;
                border-top:1px #eee solid;
                text-overflow:ellipsis;
              }
              #wrap .startup:focus, #wrap .startup:active{opacity:0.7; text-decoration: none; outline:none;}

              #wrap .startup:hover{opacity:1}

              #wrap .startup img{height:70px; width:70px; float:left; margin:0;margin-left:5px; margin-right:16px; margin-top:5px; }
              #wrap .startup h1{ font-size:20px; margin:0; padding:0; margin-top:8px; margin-bottom:5px; }
              #wrap .startup p { width:60%; text-overflow:ellipsis; height:41px;overflow: hidden;}
              #wrap .startup p strong{ display:none; }
              body #wrap .startup .bt_report{display:none !important }
              #wrap .startup:after{display:none; background:none; }







/*
              .pushy{
                background:#000;
                  width: 200px;
              }

              .pushy-left{
                  transform: translate3d(-200px,0,0);
              }

              .container-push, .push-push{
                  transform: translate3d(200px,0,0);
              }
              */


            }