{% extends "layouts/documentation.html" %}
{% block content %}

<div class="doc-wrapper">

    <h2>2 pots</h2>

    <p class="doc-tags">
        2016
    </p>

    <p class="doc-tags">
        installation, openframeworks, arduino
    </p>
    <p>
        <span style="font-style:italic;">2 pots</span> was an installation created for the <a href="http://sfpc.io">SFPC</a> final show at the end of
        a 10 week session studying code, design, hardware and theory.
    </p>
    <p>
        Using a handmade cardboard
        interface housing an arduino and 2 potentiometers (2 pots), visitors could control parameters
        of a series of generative line drawings exploring controlled noise.
    </p>

    <img class="doc-image" src="/static/img/2pots/2pots.JPG"/>

    <img class="doc-image" src="/static/img/2pots/hands.JPG"/>

    <img class="doc-image" src="/static/img/2pots/red.png"/>

    <p style="margin-top: 40px;">
        Below are a series of screenshots taken directly from openframeworks:
    </p>

    <img class="doc-image" src="/static/img/2pots/screenshots/noise_dark.png"/>
    <img class="doc-image" src="/static/img/2pots/screenshots/noise_medium.png"/>
    <!--<img class="doc-image" src="/static/img/2pots/screenshots/noise_light.png"/>-->
    <img class="doc-image" src="/static/img/2pots/screenshots/red_full.png"/>
    <img class="doc-image" src="/static/img/2pots/screenshots/spiral.png"/>
    <img class="doc-image" src="/static/img/2pots/screenshots/glitch.png"/>
    <img class="doc-image" src="/static/img/2pots/screenshots/object.png"/>

    <p>
        You can also see one sketch which was ported over to the browser using p5.js
        <a href="http://mhfowler.github.io/westbeth-processing/sketches/veragrowth/vera.html">here</a>.
    </p>


    <!--<img class="doc-image" src="/static/img/2pots/2.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/3.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/4.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/5.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/6.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/7.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/8.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/9.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/10.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/11.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/12.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/13.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/14.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/15.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/16.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/17.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/18.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/19.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/2pots/20.jpg"/>-->
</div>


{% endblock %}