{% extends "layouts/documentation.html" %}
{% block content %}

<div class="doc-wrapper">

    <h2>2 pots</h2>

    <p class="tags">
        installation, openframeworks, arduino
    </p>
        a series of line drawings exploring controlled noise
    </p>

    <img class="doc-image" src="/static/img/2pots/1.jpg"/>
    <img class="doc-image" src="/static/img/2pots/2.jpg"/>
    <img class="doc-image" src="/static/img/2pots/3.jpg"/>
    <img class="doc-image" src="/static/img/2pots/4.jpg"/>
    <img class="doc-image" src="/static/img/2pots/5.jpg"/>
    <img class="doc-image" src="/static/img/2pots/6.jpg"/>
    <img class="doc-image" src="/static/img/2pots/7.jpg"/>
    <img class="doc-image" src="/static/img/2pots/8.jpg"/>
    <img class="doc-image" src="/static/img/2pots/9.jpg"/>
    <img class="doc-image" src="/static/img/2pots/10.jpg"/>
    <img class="doc-image" src="/static/img/2pots/11.jpg"/>
    <img class="doc-image" src="/static/img/2pots/12.jpg"/>
    <img class="doc-image" src="/static/img/2pots/13.jpg"/>
    <img class="doc-image" src="/static/img/2pots/14.jpg"/>
    <img class="doc-image" src="/static/img/2pots/15.jpg"/>
    <img class="doc-image" src="/static/img/2pots/16.jpg"/>
    <img class="doc-image" src="/static/img/2pots/17.jpg"/>
    <img class="doc-image" src="/static/img/2pots/18.jpg"/>
    <img class="doc-image" src="/static/img/2pots/19.jpg"/>
    <img class="doc-image" src="/static/img/2pots/20.jpg"/>
</div>


{% endblock %}