{% extends "layouts/page.html" %}
{% block content %}

<div class="about-wrapper">

    <div class="new-about-writeup">
        <p>
            <strong>currently: </strong>
            <br>
            - doing freelance web development with <a href="http://computerlab.io">Computer Lab</a>
            <br>
            - working on a speculative advertising startup
            <br>
            - plotting my next step
        </p>
        <p>
            <strong>in the past: </strong>
            <br>
            - participated in 10 week program at <a href="http://sfpc.io">SFPC</a> in the summer of 2016
            <br>
            - worked as a software engineer at Flatiron Health, Palantir and Appnexus
            <br>
            - tried to make a <a href="http://twitter.com/_trashbot">twitter bot</a> to take out the trash
        </p>
    </div>


    <div style="max-width: 500px; margin-top: 30px;">
        <!--<p>-->
        <!--Some of my recent projects have explored the ways that we conceptualize space, expressive analysis of text message history and how to use a twitter bot to take out the trash.-->
        <!--<p>-->
        <!--<p>-->
        <!--I'm interested in using data visualization to explore subjectivity,-->
        <!--speculative startups,-->
        <!--generative poetry,-->
        <!--and the ways we use technology to decide what to read.-->
        <!--</p>-->

        <p>
            I'm interested in the beauty of math and its limits. I'm interested
            in using data visualization to explore subjectivity, in generative
            poetry and the hand of the artist.
            <!--I wish the advertising industry could be-->
            <!--re-purposed as a global machine for spreading beautiful ideas instead of industrial-grade-->
            <!--psy-op for consumerism. -->
            A lot of my work re-configures and extends the tools
            of computing with the intent to see things around us in new ways and uncover
            the invisible defaults.
            I'm also interested in beautiful & strange things that
            don't mean anything that I can put into words.
            I was born in 1991 and am <a href="https://twitter.com/notplants/status/671113944489177090" target="_blank">based in New York</a>.
        </p>

        <!--<div>-->
            <!--Here is a spread-sheet of house sounds I observed on January 16 of 2016.-->
        <!--</div>-->

        <!--<img style="max-width: 300px;" src="https://pbs.twimg.com/media/CY2&#45;&#45;4ZUwAAlAYk.png:large"/>-->

        <p>
            <a href="mailto:maxhfowler@gmail.com">maxhfowler@gmail.com</a>,
            <a href="http://twitter.com/notplants">twitter</a>,
            <a href="http://instagram.com/maxpicks">instagram</a>,
            <a href="https://www.linkedin.com/in/max-fowler-19965643">linkedin</a>,
            <a href="http://github.com/mhfowler">github</a>
        </p>
    </div>


    <!--<div style="max-width: 575px; margin-top: 30px;">-->
    <!--Here's a poem I wrote at work in March of 2015:-->
    <!--<p>-->
    <!--<strong>in the blocks hole</strong>-->
    <!--<br><br>-->
    <!--Rolling up patient #125<br>-->
    <!--Rolling up patient #150<br>-->
    <!--Rolling up patient #175<br>-->
    <!--<br>-->
    <!--cup of coffee 3/4 empty<br>-->
    <!--glass of water 1/2 empty<br>-->
    <!--small bubbles still sticking to the surface of the glass. I wonder why that happens, I think I learned once in science class but I forget.-->
    <!--<br><br>-->
    <!--I think it's 20 bucks a month if you get one gym membership but you gotta pay for towels.. For 70 bucks a month you get unlimited towels. Best part of new york sports club is no matter where you are you can use it as a bathroom.-->
    <!--<br><br>-->
    <!--I have two blocks pipelines running - generating the pharma candidate is going to take forever, and a lot of people have non small cell lung cancer. Rolling up patient #2025.-->
    <!--<br><br>-->
    <!--You can run a maximum of 2 blocks pipelines at once so for the next hour at least I have nothing to do but can't really leave. The blocks hole. I went on twitter for a bit. Checked my instagram. Back on twitter. Told a joke to my deskmates about the blocks hole, they told me to write a novel while I wait and now Rolling up patient #3425.  PostgreSQL - core@localhost Prod Core 194.268.1.408 #!/bin/sh scratch_export_maintenance.sh-->
    <!--<br><br>-->
    <!--I see my dark reflection in the big monitor which I don't use other than as a face cover so I don't have to look at my co-workers on the other side of the desk directly. I feel very in the moment. My stubble is a respectable length right now. Contemplating the veins in my hands. Contemplating the feeling of the keys on my fingertips. My hands are like spiders.-->
    <!--<br><br>-->
    <!--"I bring my kindle to the sauna, I put it in a plastic bag so it doesn't get wet" &#45;&#45;  my coworker-->
    <!--<br><br>-->
    <!--Everyone's going to lunch now.-->
    <!--</p>-->
    <!--</div>-->

</div>

{% endblock %}