{% extends "layouts/page.html" %}
{% block content %}

<div class="about-wrapper">

    <div class="new-about-writeup">
        <p>
            <strong>currently: </strong>
            <br>
            - doing freelance web development with <a href="http://computerlab.io">Computer Lab</a>
            <br>
            - working on a speculative advertising startup
            <br>
            - plotting my next step
        </p>
        <p>
            <strong>in the past: </strong>
            <br>
            - participated in 10 week program at <a href="http://sfpc.io">SFPC</a> in the summer of 2016
            <br>
            - worked as a software engineer at Flatiron Health, Palantir and Appnexus
            <br>
            - tried to make a <a href="http://twitter.com/_trashbot">twitter bot</a> to take out the trash
        </p>
    </div>

</div>

{% endblock %}