{% extends "layouts/page.html" %}
{% block content %}

<div class="about-wrapper">

    <img src="/static/img/avi.jpg" class="bio-pic"/>

    <div class="about-writeup">
        <!--<p style="margin-top: 0px;">-->
        <!--Max Fowler is a freelance programmer and artist based in New York.-->
        <!--</p>-->

        <!--<p>-->
        <!--Some of my recent projects have explored the ways that we conceptualize space, expressive analysis of text message history and how to use a twitter bot to take out the trash.-->
        <!--</p>-->
        <!--<p>-->
        <!--I'm interested in using data visualization to explore subjectivity, generative poetry,-->
        <!--and the ways we use technology to decide what to read.-->
        <!--</p>-->
        <p style="margin-top:0px;">
            Max Fowler codes, makes generative art, speculative startups, twitter bots and vaporware.
        </p>

        <p>
            <strong>currently: </strong>
            <br>
            - doing freelance web development with <a href="http://computerlab.io">Computer Lab</a>
            <br>
            - working on a speculative advertising startup
            <br>
            - plotting my next step
        </p>
        <p>
            <strong>in the past: </strong>
            <br>
            - participated in 10 week program at <a href="http://sfpc.io">SFPC</a> in the summer of 2016
            <br>
            - worked as a software engineer at Flatiron Health, Palantir and Appnexus
            <br>
            - studied Computer Science and Philosophy at Brown
        </p>

        <p>
            Please reach out if:
            <br>
            - you would like to collaborate
            <br>
            - you would like to hire me for contract work
            <br>
            - you would like to <a href="https://twitter.com/notplants/status/671113944489177090" target="_blank">go on a walk around bushwick</a>
        </p>

        <p>
            <br>
            Talk to me about how computers are beautiful and worrisome:
            <a href="mailto:maxhfowler@gmail.com">maxhfowler@gmail.com</a>,
            <a href="http://twitter.com/notplants">twitter</a>,
            <a href="http://instagram.com/maxpicks">instagram</a>,
            <a href="https://www.linkedin.com/in/max-fowler-19965643">linkedin</a>,
            <a href="http://github.com/mhfowler">github</a>
        </p>
    </div>

</div>

{% endblock %}