<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/notplants"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/notplants', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe" />
</form>

</body>
</html>