{% extends "layouts/page.html" %}
{% block content %}
<div class="about-line">
    Max Fowler codes, makes generative art, speculative startups, twitter bots and vaporware.
    Currently based in Brooklyn and available for contracting.
    Read his <a href="/about.html">bio</a>, see his <a href="/portfolio.html">portfolio</a>
    or <a href="mailto:maxhfowler@gmail.com">send him an email</a>.
</div>
<div class="projects-list">

    <div class="list-of-projects">
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://oasisvr.info/">oasis</a>
            </div>
            <div class="project-description">
                a virtual reality commune only acessible by SSH
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="/2pots.html">2 pots</a>
            </div>
            <div class="project-description">
                a series of generative lines drawings exploring controlled noise
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://abridgedmaps.com/">abridgedmaps.com</a>
            </div>
            <div class="project-description">
                a website that strips Google Maps of all natural imagery to reveal concrete poems about the structure of contemporary space
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://brocascoconut.com/truespeak/">truespeak</a>
            </div>
            <div class="project-description">
                a thought experiment and functional app that allows you to upload conversations from your text message history to a publicly viewable page on the internet
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://howdoispeak.com">howdoispeak</a>
            </div>
            <div class="project-description">
                a website which shows you insights about the way you text by analyzing the frequency of your word usage in your text messages over time
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://brocascoconut.com/the_capitalist_tshirt/">the capitalist t-shirt</a>
            </div>
            <div class="project-description">
                an e-commerce store which sells t-shirts, framed prints and booty shorts
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://brocascoconut.com">brocascoconut.com</a>
            </div>
            <div class="project-description">
                the landing page for a pseudo-anonymous art collective mailing list curated by me and some of my friends
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project-title">
                <a href="http://mhfowler.github.io">css sketchbook</a>
            </div>
            <div class="project-description">
                a working sketchbook I've been using to work through the exercises in the book "The Secrets Of CSS"
            </div>
        </div>

    </div>
    {% endblock %}