{% extends "layouts/documentation.html" %}
{% block content %}

<div class="doc-wrapper looking-glass">

    <h2>Looking Glass</h2>

    <p class="doc-tags">
        2017
    </p>

    <p class="doc-tags">
        installation, projection mapping, open frameworks
    </p>
    <p>
        <span style="font-style:italic;">Looking Glass</span> was an installation exhibited at <a href="http://acudmachtneu.de/">Acud Macht Neue</a>
        in Berlin for a School Of Machines community show.
    </p>
    <p>
        For the installation I created 3 minutes of animations
        using the vector shapes of a broken mirror as input.
    </p>

    <iframe src="https://player.vimeo.com/video/227833557?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <p style="margin-top: 40px;">
        Pariefracture, a word coined by Dmitry Vagner, is the moment when an unknown unknown becomes known. When something you didn't know suprises you and a previous perspective is shattered. When you walk into the screen door.
    </p>
    <p>
        Looking Glass is a tribute to pariefracture and it's role in expanding empathy for others beyond the limits of our understanding.
    </p>
    <!--<img class="doc-image small-doc-image" src="/static/img/looking-glass/2.jpg"/>-->
    <!--<img class="doc-image small-doc-image" src="/static/img/looking-glass/3.jpg"/>-->
    <!--<img class="doc-image" src="/static/img/looking-glass/17.png"/>-->
       <!--<img class="doc-image" style="max-width: 600px;" src="/static/img/looking-glass/11.jpg"/>-->
       <img class="doc-image" style="max-width: 600px;" src="/static/img/looking-glass/looking-glass.png"/>
           <img class="doc-image" style="max-width: 600px;" src="/static/img/looking-glass/11.jpg"/>
</div>


{% endblock %}