{% extends "layouts/page.html" %}
{% block content %}

<div>
    <!--<img src="http://i.imgur.com/b2ZHm4R.jpg" class="bio-pic"/>-->
    <div class="note-wrapper">
        <img src="/static/img/notes/1.jpg" class="note"/>
    </div>
    <div class="note-wrapper">
        <img src="/static/img/notes/3.jpg" class="note"/>
    </div>
    <div class="note-wrapper">
        <img src="/static/img/notes/4.jpg" class="note"/>
    </div>
    <div class="note-wrapper">
        <img src="/static/img/notes/2.jpg" class="note"/>
    </div>
    <div class="note-wrapper">
        <img src="/static/img/notes/5.jpg" class="note"/>
    </div>

</div>

{% endblock %}