{% extends "layouts/documentation.html" %}
{% block content %}

<div class="doc-wrapper">

    <!--<p>-->
    <!--Perhaps the question of "free will" in the sense of how to find or create the mental fortitude-->
    <!--to make the decisions we should is more urgent than the question of-->
    <!--what causes those decisions in "Me".-->
    <!--</p>-->

    <p>
        a passage from <a href="https://www.amazon.com/Poetics-Space-Gaston-Bachelard/dp/0807064734/ref=sr_1_1?s=books&ie=UTF8&qid=1475429713&sr=1-1&keywords=poetics+of+space">
        The Poetics Of Space</a>:
    </p>

    <p>

    </p>
    <!--<p>-->
    <!--To this kind of escapist determinism which abandons "living" in favor of an explanation,-->
    <!--I recommend reading <a href="https://www.amazon.com/Poetics-Space-Gaston-Bachelard/dp/0807064734/ref=sr_1_1?s=books&ie=UTF8&qid=1475429713&sr=1-1&keywords=poetics+of+space">-->
    <!--The Poetics Of Space</a> to revisit the delta in between "the past"-->
    <!--and "the future" and all the beautiful moments of becoming in between:-->
    <!--</p>-->

    <img class="doc-image" src="/static/img/blog/shoemaker_makes_the_shoe.jpg"/>

    <br><br>
    <br><br>
    <div>
        and here is a translation from <a href="http://forum.wordreference.com/threads/ne-psuchor-ultra-uterum.2642471/">a forum</a>
        to help make sense of it:
    </div>
    <br>
    <img class="doc-image" src="/static/img/blog/translation.png"/>

    <br><br>
    <br>


    <p>
        in the introduction Bachelard is generally arguing that good poetry involves novel creation (what he calls sublimation) — that in the poem there is something there which was not there before
    </p>

    <p>
        the psycho-analyst on the other hand analyzes the poem in terms of the poet's past... what happened to them as a child and how that caused them to write the poem etc.
    </p>

    <p>
        Bachelard's latin quote here is pretty much just a zinger, he's saying if the psycho-analyst is interested the original causes of things, he should just stay in the womb
    </p>

</div>


{% endblock %}