{% extends "layouts/documentation.html" %}
{% block content %}

<div class="doc-wrapper">

    <h2>Sublimation & The Poetics Of Space</h2>

    <p>
        A passage about living from <a href="https://www.amazon.com/Poetics-Space-Gaston-Bachelard/dp/0807064734/ref=sr_1_1?s=books&ie=UTF8&qid=1475429713&sr=1-1&keywords=poetics+of+space">
        The Poetics Of Space</a> by Bachelard.
    </p>
    <img class="doc-image" src="/static/img/blog/shoemaker_makes_the_shoe.jpg"/>

    <br><br>
    <div>
        helpful translation from <a href="http://forum.wordreference.com/threads/ne-psuchor-ultra-uterum.2642471/">a forum</a>:
    </div>
    <img class="doc-image" src="/static/img/blog/translation.png"/>

</div>


{% endblock %}