<div class="myname">
    <a href="{{BASE_URL}}/">MAX FOWLER</a>
</div>
<div class="navlinks">
    <div class="navlink">
        <a href="{{BASE_URL}}/about.html">about</a>
    </div>
    <div class="navlink">
        <a href="{{BASE_URL}}/portfolio.html">portfolio</a>
    </div>
    <div class="navlink">
        <a href="http://twitter.com/notplants">twitter</a>
    </div>
    <div class="navlink">
        <a href="http://github.com/mhfowler">github</a>
    </div>
    <div class="navlink">
        <a href="{{BASE_URL}}/notes.html">notes</a>
    </div>
    <div class="navlink">
        <a href="mailto:maxhfowler@gmail.com">contact</a>
    </div>
</div>

<div class="content-wrapper">
    {% block content %}

    {% endblock %}
</div>
