<!--<div class="navlink">-->
    <!--<a href="{{BASE_URL}}/about.html">about</a>-->
<!--</div>-->
<!--<div class="navlink">-->
    <!--<a href="{{BASE_URL}}/">projects</a>-->
<!--</div>-->

<div class="navlink">
    <a href="/about.html">about</a>
</div>
<div class="navlink">
    <a href="/">projects</a>
</div>
<div class="navlink">
    <a href="http://twitter.com/notplants">twitter</a>
</div>
<div class="navlink">
    <a href="http://github.com/mhfowler">github</a>
</div>
<div class="navlink">
    <a href="{{BASE_URL}}/notes.html">notes</a>
</div>
<div class="navlink">
    <a href="{{BASE_URL}}/contact.html">contact</a>
</div>