<div class="project-wrapper">
    <a href="{{project_link}}" class="project-image-wrapper">
        <div class="project-image" style="background-image: url({{project_image}})"></div>
    </a>
    <div class="project-description">
        <a class="project-title" href="{{project_link}}">
            {{project_title}}
        </a>
         <div class="project-tags">
            {{project_tags}}
        </div>
        <div class="project-snippet">
            {{project_snippet}}
        </div>
    </div>
</div>